<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>{{judul}}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

{{> header}}

<div class="main-content">
  <h1>{{judul}}</h1>

  {{#if daftarBerita.length}}
    {{#each daftarBerita}}
      <div class="card">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <a href="{{url}}" target="_blank">Baca selengkapnya</a>
      </div>
    {{/each}}
  {{else}}
    <p>Tidak ada data berita.</p>
  {{/if}}
</div>

{{> footer}}

</body>
</html>
